In [3]:
import os
import sys
import datetime
import numpy as np
import pandas as pd

import yfinance as yf

import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
start_date = datetime.datetime(2010, 1, 1).date()
end_date = datetime.datetime.now().date()
start_date, end_date

(datetime.date(2010, 1, 1), datetime.date(2024, 2, 24))

In [5]:
end_date-start_date

datetime.timedelta(days=5167)

In [6]:
ticker = "GOOGL"
# ticker = "MSFT"
# ticker = "FB"

In [7]:
msft = yf.Ticker(ticker)

msft

yfinance.Ticker object <GOOGL>

In [8]:
msft.info

{'address1': '1600 Amphitheatre Parkway',
 'city': 'Mountain View',
 'state': 'CA',
 'zip': '94043',
 'country': 'United States',
 'phone': '650 253 0000',
 'website': 'https://abc.xyz',
 'industry': 'Internet Content & Information',
 'industryKey': 'internet-content-information',
 'industryDisp': 'Internet Content & Information',
 'sector': 'Communication Services',
 'sectorKey': 'communication-services',
 'sectorDisp': 'Communication Services',
 'longBusinessSummary': 'Alphabet Inc. offers various products and platforms in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, including ads, Android, Chrome, devices, Gmail, Google Drive, Google Maps, Google Photos, Google Play, Search, and YouTube. It is also involved in the sale of apps and in-app purchases and digital content in the Google Play and YouTube; and devices, as well as in the provision of YouTube consumer subscription services. The Google Cloud segment offers infrastructure, cybersecurity, databases, analytics, AI, and other services; Google Workspace that include cloud-based communication and collaboration tools for enterprises, such as Gmail, Docs, Drive, Calendar, and Meet; and other services for enterprise customers. The Other Bets segment sells healthcare-related and internet services. The company was incorporated in 1998 and is headquartered in Mountain View, California.',
 'fullTimeEmployees': 182502,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Sundar  Pichai',
   'age': 50,
   'title': 'CEO & Director',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 7947461,
   'exercisedValue': 39618220,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ruth M. Porat',
   'age': 65,
   'title': 'President, Chief Investment Officer, Senior VP & CFO',
   'yearBorn': 1958,
   'fiscalYear': 2022,
   'totalPay': 1790046,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Lawrence Edward Page',
   'age': 50,
   'title': 'Co-Founder & Director',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 1,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sergey  Brin',
   'age': 49,
   'title': 'Co-Founder & Director',
   'yearBorn': 1974,
   'fiscalYear': 2022,
   'totalPay': 1,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. J. Kent Walker',
   'age': 62,
   'title': 'President of Global Affairs, Chief Legal Officer & Company Secretary',
   'yearBorn': 1961,
   'fiscalYear': 2022,
   'totalPay': 1787541,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Prabhakar  Raghavan',
   'age': 62,
   'title': 'Senior Vice President of Knowledge and Information - Google',
   'yearBorn': 1961,
   'fiscalYear': 2022,
   'totalPay': 1785329,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Philipp  Schindler',
   'age': 51,
   'title': 'Senior Vice President & Chief Business Officer of Google',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 1785814,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Amie Thuener O'Toole",
   'age': 48,
   'title': 'Chief Accounting Officer & VP',
   'yearBorn': 1975,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ellen  West',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Fiona Clare Cicconi',
   'age': 57,
   'title': 'Chief People Officer',
   'yearBorn': 1966,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 10,
 'boardRisk': 7,
 'compensationRisk': 10,
 'shareHolderRightsRisk': 10,
 'overallRisk': 10,
 'governanceEpochDate': 1706745600,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 144.09,
 'open': 143.67,
 'dayLow': 143.435,
 'dayHigh': 144.68,
 'regularMarketPreviousClose': 144.09,
 'regularMarketOpen': 143.67,
 'regularMarketDayLow': 143.435,
 'regularMarketDayHigh': 144.68,
 'beta': 1.058,
 'trailingPE': 24.82069,
 'forwardPE': 18.362246,
 'volume': 18990297,
 'regularMarketVolume': 18990297,
 'averageVolume': 29300800,
 'averageVolume10days': 26310540,
 'averageDailyVolume10Day': 26310540,
 'bid': 143.79,
 'ask': 143.95,
 'bidSize': 800,
 'askSize': 800,
 'marketCap': 1797455872000,
 'fiftyTwoWeekLow': 89.32,
 'fiftyTwoWeekHigh': 153.78,
 'priceToSalesTrailing12Months': 5.8474007,
 'fiftyDayAverage': 142.2044,
 'twoHundredDayAverage': 132.1609,
 'currency': 'USD',
 'enterpriseValue': 1708805718016,
 'profitMargins': 0.24007,
 'floatShares': 11098690440,
 'sharesOutstanding': 5893000192,
 'sharesShort': 49012364,
 'sharesShortPriorMonth': 48241754,
 'sharesShortPreviousMonthDate': 1703808000,
 'dateShortInterest': 1706659200,
 'sharesPercentSharesOut': 0.0039,
 'heldPercentInsiders': 0.00279,
 'heldPercentInstitutions': 0.80525,
 'shortRatio': 1.77,
 'shortPercentOfFloat': 0.0083,
 'impliedSharesOutstanding': 12485799936,
 'bookValue': 22.743,
 'priceToBook': 6.32986,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': 0.518,
 'netIncomeToCommon': 73795002368,
 'trailingEps': 5.8,
 'forwardEps': 7.84,
 'pegRatio': 1.1,
 'lastSplitFactor': '20:1',
 'lastSplitDate': 1658102400,
 'enterpriseToRevenue': 5.559,
 'enterpriseToEbitda': 17.059,
 '52WeekChange': 0.60186934,
 'SandP52WeekChange': 0.27787375,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'GOOGL',
 'underlyingSymbol': 'GOOGL',
 'shortName': 'Alphabet Inc.',
 'longName': 'Alphabet Inc.',
 'firstTradeDateEpochUtc': 1092922200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': 'e15ce71f-f533-3912-9f11-a46c09e2412b',
 'messageBoardId': 'finmb_29096',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 143.96,
 'targetHighPrice': 180.0,
 'targetLowPrice': 127.86,
 'targetMeanPrice': 162.06,
 'targetMedianPrice': 164.5,
 'recommendationMean': 1.9,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 42,
 'totalCash': 110916001792,
 'totalCashPerShare': 8.921,
 'ebitda': 100171997184,
 'totalDebt': 29866999808,
 'quickRatio': 1.942,
 'currentRatio': 2.097,
 'totalRevenue': 307393986560,
 'debtToEquity': 10.54,
 'revenuePerShare': 24.338,
 'returnOnAssets': 0.14366001,
 'returnOnEquity': 0.27356002,
 'freeCashflow': 58657751040,
 'operatingCashflow': 101745999872,
 'earningsGrowth': 0.56,
 'revenueGrowth': 0.135,
 'grossMargins': 0.56937003,
 'ebitdaMargins': 0.32587,
 'operatingMargins': 0.28849,
 'financialCurrency': 'USD',
 'trailingPegRatio': 1.3783}

In [9]:
historical_data = msft.history(start=start_date, end=end_date, interval="1d").reset_index()

historical_data.shape

(3559, 8)

In [10]:

historical_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-01-04 00:00:00-05:00,15.689439,15.753504,15.621622,15.684434,78169752,0.0,0.0
1,2010-01-05 00:00:00-05:00,15.695195,15.711712,15.554054,15.615365,120067812,0.0,0.0
2,2010-01-06 00:00:00-05:00,15.662162,15.662162,15.174174,15.221722,158988852,0.0,0.0
3,2010-01-07 00:00:00-05:00,15.250250,15.265265,14.831081,14.867367,256315428,0.0,0.0
4,2010-01-08 00:00:00-05:00,14.814815,15.096346,14.742492,15.065566,188783028,0.0,0.0

In [11]:
historical_data.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
3554,2024-02-16 00:00:00-05:00,142.990005,143.190002,140.139999,140.520004,31451100,0.0,0.0
3555,2024-02-20 00:00:00-05:00,139.660004,142.080002,139.490005,141.119995,25144700,0.0,0.0
3556,2024-02-21 00:00:00-05:00,141.449997,142.690002,140.679993,142.550003,23315700,0.0,0.0
3557,2024-02-22 00:00:00-05:00,144.929993,145.000000,142.800003,144.089996,27191900,0.0,0.0
3558,2024-02-23 00:00:00-05:00,143.669998,144.679993,143.429993,143.960007,19475800,0.0,0.0

In [12]:
historical_data.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,3559.000000,3559.000000,3559.000000,3559.000000,3.559000e+03,3559.0,3559.000000
mean,55.017723,55.586557,54.458904,55.037712,5.792022e+07,0.0,0.006181
std,39.931323,40.397822,39.495976,39.957404,4.828160e+07,0.0,0.336907
min,10.968719,11.068068,10.851602,10.912663,9.312000e+06,0.0,0.000000
25%,22.011136,22.179054,21.875876,22.022523,2.824200e+07,0.0,0.000000
50%,41.504501,41.732498,41.230000,41.493000,3.918000e+07,0.0,0.000000
75%,75.330250,76.040501,74.704750,75.512749,7.622985e+07,0.0,0.000000
max,152.800003,153.779999,151.429993,153.509995,5.923990e+08,0.0,20.000000

In [13]:
historical_data.drop(
    columns=["Dividends", "Stock Splits", "Volume", "Open", "High", "Low"], inplace=True)

In [14]:
# Create a holiday dataframe
min_date, max_date = historical_data.Date.min(), historical_data.Date.max()
print("Min/Max dates:", min_date, max_date)

date_range = pd.date_range(start=min_date, end=max_date)
print("Date range:", date_range.min(), date_range.max())

# Find dates not present in historical df - closed stock market holiday
holiday_date_range = [d.date() for d in date_range if d not in historical_data.Date]
holiday_date_range[:5]

Min/Max dates: 2010-01-04 00:00:00-05:00 2024-02-23 00:00:00-05:00
Date range: 2010-01-04 00:00:00-05:00 2024-02-23 00:00:00-05:00

[datetime.date(2010, 1, 4),
 datetime.date(2010, 1, 5),
 datetime.date(2010, 1, 6),
 datetime.date(2010, 1, 7),
 datetime.date(2010, 1, 8)]

In [15]:

holidays = pd.DataFrame({
    "holiday": "shutdown",
    "ds": pd.to_datetime(holiday_date_range),
    "lower_bound": 0,
    "upper_bound": 1,
})

holidays.head()

    holiday         ds  lower_bound  upper_bound
0  shutdown 2010-01-04            0            1
1  shutdown 2010-01-05            0            1
2  shutdown 2010-01-06            0            1
3  shutdown 2010-01-07            0            1
4  shutdown 2010-01-08            0            1

In [42]:
import fbprophet as prophet

ModuleNotFoundError: No module named 'fbprophet'

In [22]:

validation_period = 30 # 30 days

train, validation = historical_data.iloc[:-validation_period], historical_data.iloc[-validation_period:]

train.shape, validation.shape

((3529, 2), (30, 2))

In [23]:
train.head()

                       Date      Close
0 2010-01-04 00:00:00-05:00  15.684434
1 2010-01-05 00:00:00-05:00  15.615365
2 2010-01-06 00:00:00-05:00  15.221722
3 2010-01-07 00:00:00-05:00  14.867367
4 2010-01-08 00:00:00-05:00  15.065566

In [25]:
lag_features = [col for col in historical_data.columns if "lag" in col]

In [34]:
model = prophet.Prophet(yearly_seasonality=True, weekly_seasonality=True, seasonality_mode="additive")

In [46]:

from fbprophet import Prophet
model = prophet()

# Remove timezone from 'ds' column
train['ds'] = train['ds'].dt.tz_localize(None)

# Fit the model
model.fit(train)

ModuleNotFoundError: No module named 'fbprophet'

In [41]:
for name in lag_features:
    model.add_regressor(name)

model.fit(df=train.rename(columns={"Date": "ds", "Close":"y"}))

ValueError: Column ds has timezone specified, which is not supported. Remove timezone.